body{
    text-align: center;
    background-color: #393E46;
    color: #4ECCA3;
}
h1{
    margin: 3% auto 5%;
    font-family: 'Lobster', cursive;
    font-size: 6rem; font-weight: 700;
}
.playground{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    padding: 0; margin: 0 0 10% 0;
}
.p1{
    margin-left: 20rem;
}
img{
    height: 12rem;
}
.footer{
    margin: 5% auto 0;
    font-family: 'Indie Flower', cursive;
}

@media (max-width: 994px){
    h1{
        font-size: 9rem;
        margin-bottom: 17%;
    }
    .playground{
        font-size: 5rem;
    }
    h4{
        padding-top: 10%;
        font-size: 4rem;
    }
    .p1{
        margin: 2% 2% 10% 0;
    }
    img{
        height: 20rem;
    }
}
